/*use element selector to select all p elements for this style*/
p{
    color:green;
    font-size: 32px;    
}

/*use class selector to define style for elements*/
.fancy{
    color: green;
    border: 2px;
    background-color: red;
    border-radius: 8px;
}

.mun_keksima{
    background-color: aquamarine;
}

/*use id selector to define style*/
#joku_tyyli{
    margin: 100px;
}

.login_container{
    width: 500px;
    margin: 50px auto;
    border: 2px solid black;
    border-radius: 5px;
    background-color:lightblue; 
    padding: 8px;
}

.lisa_padding{
    padding: 50px;
}

.flash-style{
    
    width: 30%;
    margin: auto 0;
    position: absolute;
    top: 10%;
    left: 450px;
    
}