<!-- rule 1 everything must go inside the container class -->
<div class="container">
    <!-- rule 2 every column must be inside a row -->
    <div class="row">
        <!-- rule 3 columns are defined in row -->
        <div style="background-color:red;" class="col-sm-4 col-md-2">Column1</div>
        <div style="background-color:green;" class="col-sm-4 col-md-10 visible-lg">Column2</div>      
    </div>
    
    <p class="note"></p>
    <div class="login_container form-group">
        <form>
            <!--ng-model directive is the way to transfer data to controller-->
            <input type="text" class="form-control" placeholder="username" ng-model="user"><br/>
            <input type="password" class="form-control" placeholder="password" ng-model="pass"><br/>
            <input type="button" value="Login" ng-click="loginClicked()">
            <input type="button" value="Register" ng-click="registerClicked()">
            <!--bind the data from username textfield (use the variable 'user')-->
            <p>{{user}}</p>
        </form>
    </div>
    <div class="flash-style" flash-message="2000" ></div>
</div>