<!--
<ng-include src="'navbar.html'"></ng-include>
-->

<of-navbar navbar-data='navbarData'></of-navbar>

<!-- use as class -->
<div class="of-example"></div>
<!-- use as element -->
<of-example munnimi="tero" users="temp"></of-example>
<of-example munnimi="jussi"></of-example>
<!-- use as attribute -->
<div of-example></div>

<div class="container">

    <div class="row">
        
        <div class="col-sm-8">
            <div class="lisa_padding fancy">    
            <!--<a href="/logout">Logout</a>
            <a href="#/add">Add</a>
            <a href="#/delete">Delete</a>
            -->
            <h1>Here is the table data of your friends</h1>
            <h4>Click row to edit</h4>
            <p>Search persons...empty search will fetch all your friends</p>
            <input type="search" class="form-control" value="Search" ng-model='search_term'/><br/>
            <button class="btn btn-default" value="Search" ng-click='search()'>
                <span class="glyphicon glyphicon-search"></span>
                Search
            </button>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='person in friendData' ng-click='rowClicked(person._id)'>
                        <td>{{person.name}}</td>
                        <td>{{person.address}}</td>
                        <td>{{person.age}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        </div>
        <div class="col-sm-4 fancy">Column2</div>           
        
    </div>    
</div>